
<table class="table">
    <tr class="table-secondary">
        <th>Name </th>
        <th>Details </th>
        <th>Amount </th>
        <th>Actions </th>
    </tr>
    <tr>
        <td> Shoes </td>
        <td> Weekend run shoes </td>
        <td> 1 pair </td>
        <td>
            <a asp-action="Edit" asp-route-id="#" class="btn btn-warning"> Edit </a>
            <a asp-action="Delete" asp-route-id="#" class="btn btn-danger"> Delete </a>
        </td>
    </tr>

    <tr>
        <td> Rent a movie </td>
        <td> Rent a move from redbox to watch with my freind Ryan </td>
        <td> 1 movie </td>
        <td>
            <a asp-action="Edit" asp-route-id="#" class="btn btn-warning"> Edit </a>
            <a asp-action="Delete" asp-route-id="#" class="btn btn-danger"> Delete </a>
        </td>
    </tr>
    <tr>
        <td> Milk </td>
        <td> 1 Gallon of whole Milk </td>
        <td> 1 </td>
        <td>
            <a asp-action="Edit" asp-route-id="#" class="btn btn-warning"> Edit </a>
            <a asp-action="Delete" asp-route-id="#" class="btn btn-danger"> Delete </a>
        </td>
    </tr>
</table>
