@model ShoppingList.Models.Item

<h1> Create A New Item</h1>


<form method="post">
    <div asp-validation-summary="All" class="alert-danger  text-danger"></div>
    <div class="form-group row col-6">
        <label>Name </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group row col-6">
        <label>Details </label>
        <input asp-for="Details" class="form-control" />
    </div>

    <div class="form-group row col-6">
        <label>Amount </label>
        <input asp-for="Amount" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <input type="submit" class="btn btn-info form-control" />
        </div>
        <div class="col-3">
            <a class="btn btn-secondary form-control back-btn">Back to Home</a>
        </div>

    </div>
</form>
